<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">


<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <p>From my coursework and personal projects, I've worked extensively with Python, Java, and C/C++. For specific application of these languages, check out some of the projects on my Github Page.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-photoshop-plain colored"></i>
      <i class="devicon-intellij-plain colored"></i>
      <p>To pair with my software, I've utilized Visual Studio and IntelliJ as well as taught myself Photoshop to add graphics to various projects. I've also worked with DebianOS through my use of Raspberry Pis to create embedded projects in my free time.</p>
    </div>
</div>
