<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="demo" src="{{ "/assets/img/immortalbotdemo.png" | prepend: site.baseurl }}" />
    <img alt="demo" src="{{ "/assets/img/dashgamesimg.png" | prepend: site.baseurl }}" style="padding-top: 15px;"/>
  </div>
  <div class="contents-right">
    <h3> Immortal Bot </h3>
    <ul>
      <li> An Esports Match Tracking Discord Bot </li>
    </ul>
    <p>Immortal Bot is a match-scraping Discord Bot designed to notify users about upcoming professional matches in various esports, such as Dota 2, League of Legends, Counter-Strike: Global Offensive, and more! ImmortalBot is build on the discord.py library and is used by various esport organizations and professionals!</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/mc1Jbsa6Tg8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="contents">
    <h3> Football Stars </h3>
    <ul>
      <li>C/C++</li>
      <li>TM4C Microcontroller and ARM Architechure</li>
    </ul>
    <p>Football Stars in a simple football game created in C++ for the final project in Intro to Embedded Systems at the University of Texas at Austin. The goal of the game is to score 3 touchdowns using embedded hardware and the TM4C microcontroller</p>
    <a class="project-link" href="https://github.com/rpatel1023/football-stars">Check it out</a>
  </div>
</div>
