<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/mc1Jbsa6Tg8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="contents">
    <h3> Football Stars </h3>
    <ul>
      <li>C/C++</li>
      <li>TM4C Microcontroller and ARM Architechure</li>
    </ul>
    <p>Football Stars in a simple football game created in C++ for the final project in Intro to Embedded Systems at the University of Texas at Austin. The goal of the game is to score 3 touchdowns using embedded hardware and the TM4C microcontroller</p>
    <a class="project-link" href="https://github.com/rpatel1023/football-stars">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="demo" src="{{ "/assets/img/stanbotdemo.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Stan Bot </h3>
    <ul>
      <li> A simple Discord Bot built with Discord.js </li>
    </ul>
    <p>Stan Bot is a Discord Bot designed to perform basic commands with powerful flexibility. Built with Node JS, Stan Bot returns custom messages, accesses various APIs for fun chat features, and even return a user's recent Steam data. Stan Bot is designed to be easily modified, allowing users to add their own commands and enable/disable features to the bot.</p>
    <a class="project-link" href="https://github.com/rpatel1023/discord_bot">Check it out</a>
  </div>
</div>
